/* fonts are
font-family: 'Montserrat', sans-serif;
font-family: 'Lato', sans-serif;
use Lato for titles and Montserrat for content */

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    box-sizing: border-box;
}

.about, .portfolio, .skills, .contact {
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 100px;
    margin-right: 100px;
}

.skills {
    background: none;
}

.shield-image {
    height: 100px;
    width: 80px;
}

.flexbox-skills {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

figure {
    margin: 12px 0px 12px 0px;
    width: 140px;
    text-align: center;
}

figcaption {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 6px 0px 14px 0;
    box-sizing: border-box;
}

#about-holder, #skills-holder {
    background-color: #FBFCFC;
}

#portfolio-holder {
    background-color: #FDFEFE;
}

h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
}

p, ul, li, button {
    font-family: 'Montserrat', sans-serif;
}

h5 {
    float: left;
    color: lavender;
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    margin: 5px 0px 0px 20px;
}

li {
    list-style-type: none;
}

nav {
    position: fixed;
    width: 100%;
    background-color: rgba(17,37,78,1);
    width: 100%;
}

#contact-holder {
    background-color: rgba(17,37,78,1);
    color: lavender;
}

.navigation {
    display:flex;
    float: right;
    flex-direction: row;
}

.nav-item {
    display: inline-block;
    padding-right: 40px;
    padding-left: 0px;
    float: right;
}

a {
    text-decoration: none;
    color: lavender;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: yellow
}

header {
        background-image: url("https://amp.businessinsider.com/images/5c755fc870a61e715f5f733b-1920-1080.jpg");
        background-repeat: no-repeat;
        height: 700px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

h1 {
    color: lavender;
    text-align: center;
}


.title-text-box {
    background-color:rgba(0, 0, 0, 0.438);
    padding:20px 20px 20px 20px;
    max-width:425px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    border-radius: 6px;
}

.tech-list {
    display: inline-block;
}

.tech-used {
    background-color:rgba(0, 0, 0, 0.438);
    padding:5px 8px 5px 8px;
    display: inline;
    color: lavender;
    border-radius: 6px;
}

footer {
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.icon {
    width: 60px;
    fill: lavender;
}